<style type="text/css">

</style>
<div class="menu-box">
	<!-- activate -->
 	<div  ng-repeat="menu in menus track by $index" >
 		
		<a ng-if="!(menu.children || menu.childen)" class="gwt-Anchor menu-item " ui-sref="{{menu.href}}" ng-class="{'activate':menu.activate}" style="">
			{{menu.title}}
		</a>
		<div ng-if="(menu.children || menu.childen)" ng-click="expand(menu);" class="menu-title">
			
			<img ng-if="menu.expand" width="12" height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAbUlEQVR42pWS0QqAIAxF+2E/0l+RMDJDkCTEh+oKXTAs1uDAtrvztuG4SmstAjWgKaWIwG1X2HOWCTj8gkJKSQSFGLe6UEp1QQ4orCHUxZtw540AFu/ZP0FGYXauAWFvpmDtJIKCMaOIKvx9jRMpg/1z7OWcbgAAAABJRU5ErkJggg==" class="node-image">
			<img ng-if="!menu.expand" width="12" height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAc0lEQVR42pWSUQqAIBBEu7CH9CoSRmYIkoT4Ua0wCytFuvDQHef9OV3PaK27oJnoUkrpgrqvglKq8iucOVcgYAcspJQEENqchRgPLn1BHRb2EMYFYvNeyMjxxsLqnAACdirTyYK1iwBCm7NgzNxFFUa/xg0ZL+SjzpdOZwAAAABJRU5ErkJggg==" class="node-image">
			
			
			<div   class="node-label">{{menu.title}}
			</div>
			<!--
			<i ng-if="menu.expand" width="12" height="12" class="fa fa-chevron-down node-image"></i>
			<i ng-if="!menu.expand" width="12" height="12" class="fa fa-chevron-up node-image"></i>
			-->
		</div>
		<div ng-show="menu.expand" ng-if="(menu.children || menu.childen)" ng-repeat="subMenu in (menu.children||menu.childen) track by $index">
			<a class="gwt-Anchor menu-item" ng-class="{'activate':subMenu.activate}" ui-sref="{{subMenu.href}}" style="">
				{{subMenu.title}}
			</a>
		</div>
    </div>
	<!-- <div>
	<a class="gwt-Anchor menu-item" href="#">
		事件
	</a>
    </div>
	<div>
	<a class="gwt-Anchor menu-item" href="#">
		标签
	</a>
    </div>
	<div>
	<a class="gwt-Anchor menu-item" href="#">
		报告
	</a>
	<div>
	<a class="gwt-Anchor menu-item" href="#">
		限制
	</a>
    </div>
	<div>
		<img width="12" height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAbUlEQVR42pWS0QqAIAxF+2E/0l+RMDJDkCTEh+oKXTAs1uDAtrvztuG4SmstAjWgKaWIwG1X2HOWCTj8gkJKSQSFGLe6UEp1QQ4orCHUxZtw540AFu/ZP0FGYXauAWFvpmDtJIKCMaOIKvx9jRMpg/1z7OWcbgAAAABJRU5ErkJggg==" class="node-image">
		<div class="node-label">实例</div>
		<div>
			<a class="gwt-Anchor menu-item" href="#">实例</a>
		</div>
	</div>
	
	<div>
		<img width="12" height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAc0lEQVR42pWSUQqAIBBEu7CH9CoSRmYIkoT4Ua0wCytFuvDQHef9OV3PaK27oJnoUkrpgrqvglKq8iucOVcgYAcspJQEENqchRgPLn1BHRb2EMYFYvNeyMjxxsLqnAACdirTyYK1iwBCm7NgzNxFFUa/xg0ZL+SjzpdOZwAAAABJRU5ErkJggg==" class="node-image">
		<div class="node-label">映像</div>
	</div>
	<div>
		<a class="gwt-Anchor menu-item" href="#">AMI</a>
	</div>
	<div>
		<img width="12" height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAc0lEQVR42pWSUQqAIBBEu7CH9CoSRmYIkoT4Ua0wCytFuvDQHef9OV3PaK27oJnoUkrpgrqvglKq8iucOVcgYAcspJQEENqchRgPLn1BHRb2EMYFYvNeyMjxxsLqnAACdirTyYK1iwBCm7NgzNxFFUa/xg0ZL+SjzpdOZwAAAABJRU5ErkJggg==" class="node-image">
		<div class="node-label">ELASTIC BLOCK STORE</div>
	</div>
	<div>
		<a class="gwt-Anchor menu-item" href="#">卷</a>
		<a class="gwt-Anchor menu-item" href="#">快照</a>
	</div>
	<div>
		<img width="12" height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAc0lEQVR42pWSUQqAIBBEu7CH9CoSRmYIkoT4Ua0wCytFuvDQHef9OV3PaK27oJnoUkrpgrqvglKq8iucOVcgYAcspJQEENqchRgPLn1BHRb2EMYFYvNeyMjxxsLqnAACdirTyYK1iwBCm7NgzNxFFUa/xg0ZL+SjzpdOZwAAAABJRU5ErkJggg==" class="node-image">
		<div class="node-label">网络与安全</div>
	</div>
	<div>
		<a class="gwt-Anchor menu-item" href="#">安全组</a>
		<a class="gwt-Anchor menu-item" href="#">弹性 IP</a>
		<a class="gwt-Anchor menu-item" href="#">密钥对</a>
		<a class="gwt-Anchor menu-item" href="#">网络接口</a>
	</div>
	<div>
		<img width="12" height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAc0lEQVR42pWSUQqAIBBEu7CH9CoSRmYIkoT4Ua0wCytFuvDQHef9OV3PaK27oJnoUkrpgrqvglKq8iucOVcgYAcspJQEENqchRgPLn1BHRb2EMYFYvNeyMjxxsLqnAACdirTyYK1iwBCm7NgzNxFFUa/xg0ZL+SjzpdOZwAAAABJRU5ErkJggg==" class="node-image">
		<div class="node-label">AUTO SCALING</div>
	</div>
	<div>
		<a class="gwt-Anchor menu-item" href="#">启动配置</a>
		<a class="gwt-Anchor menu-item" href="#">Auto Scaling 组</a> 
	</div> -->
<!-- <ul>
	<li ng-repeat="menu in menus track by $index">
		<a class="menu-item deep-{{menu.deep}} " ng-click="change(menu.state,menu.index,menu.childen.length)" ui-sref="{{menu.href=='#javascript:'?'app':menu.href}}" ng-class="{'menu-lable':menu.lable ,'menu-level':menu.unlable,'menu-active': menu.isActive,'active':menu.state=='expand'}" >
		 <i ng-if="menu.icon" class="fa " ng-class="menu.icon"></i>
		{{menu.title}}
		 <i ng-if="menu.childen.length>0" class="control fa " ng-class="menu.stateicon"></i> 
		</a>
		<ul ng-if="menu.childen.length>0"  class=""  ng-class="menu.state">
			<li ng-repeat="subMenu in menu.childen track by $index">
				<a class="menu-item  deep-{{subMenu.deep}} " ng-click="subChange(menu.childen,subMenu.index)"   ui-sref="{{subMenu.href}}"  ng-class="{'menu-active': subMenu.isActive}">
					<i class="square"></i>
					{{subMenu.title}} 
				</a> 
			</li>
		</ul>
	</li>
</ul> -->
</div>